.about-h1{
    margin: 65px 0 25px 0;
}

.about-h2{
    margin: 80px 0 0 0;
}

.about-top{
    background-image: url("/img/about-top.jpg");
}

.row .col-lg-6.col-md-10.about-text{
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    float: none;
    margin-bottom: 70px;
}

@media only screen and (min-width: 1200px){
    .row .col-lg-6.about-text{ width: 55%; }
}


@media only screen and (min-width: 992px) {
    .col-md-10 { width: 82.333333%; }
}

.row.row-about-text, .row.row-video{
    margin: 0;
    border-bottom: 1px solid #dadada;
}

p.about{
    margin: 40px 0 35px 0;
}

p.about.ione{
    margin: 0;
    font-weight: 500;
}

.row.row-video{
    padding: 38px 0;
}

.video-container{
    padding: 0 0 0 13.75%;
}

.row-video .video{
    padding: 62.135% 0 0 0;
    margin: 0;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-image: url('/img/video.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

.row-video p{
    font-size: 36px;
    font-weight: 500;
    color: #e21145;
}

.row .col-lg-6.video-text{
    padding: 5% 16% 0 4%;
}

.row.row-about-text.row-about-text-bottom{
    border: none;
}

.row-about-text-bottom .about-text{
    margin-bottom: 50px !important;
}

.about-contact-info{
   float: left;
    margin-top: 50px;
    font-size: 14px;
}

.about-contact-info-top{
    margin-bottom: 25px;
}

.about-contact-info-bottom{
    font-weight: 600;
}

.about-go-to-catalog{
    float: right;
    margin-top: 40px;
}

.small-link{
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 9px;
    color: #2e2e30;
    font-weight: 600;
}

.small-link::after{
    display: inline-block;
    content:'';
    background-image: url("../img/arrows-01.svg");
    width: 10px;
    height: 10px;
    margin-bottom: -2px;

}

.small-link:hover{
    color: #e21145;
}

.back-on-top-static{
    display: none;
    content:'';
    width: 81px;
    height: 81px;
    background-image: url("../img/back-on-top-large.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px auto 70px auto;
    cursor: pointer;
}

.back-on-top-static:hover{ opacity: 0.7; }


@media only screen and (max-width: 1518px){
    .row-video p{ font-size: 34px; }
}

@media only screen and (max-width: 1436px){
    .row-video p{ font-size: 32px; }
}

@media only screen and (max-width: 1354px){
    .row-video p{ font-size: 30px; }
}

@media only screen and (max-width: 1272px){
    .row-video p{ font-size: 28px; }
}

@media only screen and (max-width: 1190px){
    .row-video p{ font-size: 26px; }
}

@media only screen and (max-width: 1108px){
    .row-video p{ font-size: 24px; }
}

@media only screen and (max-width: 1028px){
    .row-video p{ font-size: 22px; }
    h2.about{display: none;}
    p.about{ margin: 60px 0 35px 0; }
    .about-top{
        background-image: url("/img/about-top-banner-tablet.jpg");
        background-position: center;
    }
}

@media only screen and (max-width: 920px){
    .row-video p{ font-size: 20px; }
}


@media only screen and (max-width: 828px){
    .row-video p{ font-size: 18px; }
}

@media only screen and (max-width: 767px){
    .row-video p{ font-size: 32px; margin: 0 auto; width: 76%; text-align: center}
    .video-container{ padding: 0; }
    .row.row-video .col-xs-12.video-text { padding: 50px 0 12px 0; }
    .row .col-lg-6.col-md-10.about-text{ font-size: 24px}
    .row.row-about-text{ padding: 0;}
    .about-contact-info{
        float: none;
        font-size: 24px;
        text-align: center;
        margin-top: 120px;
    }
    .about-go-to-catalog{ float: none; text-align: center; }
    .small-link{ font-size: 14px;}
    .about-contact-info-bottom{ margin-top: 50px; margin-bottom: 100px; }
    .small-link::after{
        width: 14px;
        height: 15px;
        background-repeat: no-repeat;
        background-size: contain;

    }
    .row-about-text-bottom .about-text {
        margin-bottom: 40px !important;
    }
    .back-on-top{ display: none !important; }
    .back-on-top-static{ display: block;}
}