.container-fluid{
    padding: 0 4.125%;
}

@media only screen and (max-width: 767px){
    .container-fluid{ padding: 0 7.812%; }
}

.row{
    padding: 0 15px;
}

h1.page-h1{
    font-size: 34px;
    font-weight: 500;
    margin: 65px 0 25px 0;
}

.top-banner{
    height: 410px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 1028px){
    .top-banner{ height: 364px; }
}

@media only screen and (max-width: 1600px){
    .top-banner{ background-size: auto; }
}