.container-fluid{
    padding: 0 4.125%;
}

/*.row{*/
    /*padding: 0 15px;*/
/*}*/

h1{
    font-size: 34px;
    font-weight: 500;
}

h2{
    font-size: 40px;
    font-weight: 500;
}

h3{
    font-size: 22px;
    font-weight: 500;
}

.top-banner{
    height: 410px;
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}


.simple-pager {
    text-align: center;
    font-size: 12px;
}

.simple-pager  .pager-menu li:last-of-type{
    padding-right: 0;
}

.arrow-left, .arrow-right{
    display: inline-block;
    height: 10px;
    width: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.5;
}

.arrow-left{
    background-image: url("/img/arrows-02.svg");
}

.arrow-right{
    background-image: url("/img/arrows-01.svg");
}


.back-on-top {
    position: fixed;
    bottom: 2em;
    right: 1em;
    display: none;
    cursor: pointer;
}

.back-on-top:hover, .back-on-top-static:hover{
    opacity: 0.7;
}

.back-on-top-static, .back-on-top{
    background-image: url("../img/back-on-top-large.svg");
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0px auto 70px auto;
    cursor: pointer;
}

.back-on-top-static{
    display: none;
    width: 81px;
    height: 81px;
}

.back-on-top{
    width: 33px;
    height: 33px;
}

.row-video{
    padding: 38px 0;
}

.video-container {
    margin: 0 auto;
    font-size: 0;
    float: none;
    padding: 0;
}

.video-wrapper {
    padding: 0 20px 0 0;
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.video-text {
    vertical-align: middle;
    padding-left: 20px;
    display: inline-block;
    float: none;
}

.video{
    padding: 62.6% 0 0 0;
    margin: 0;
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.video-container p {
    font-size: 22px;
    font-weight: 500;
    color: #e21145;
    margin: 0;
}

@media only screen and (max-width: 1600px){
    .top-banner{ background-size: auto; }
}

@media only screen and (max-width: 1214px){
    .row-video p{ font-size: 21px; }
}

@media only screen and (min-width: 1200px){
    .video-container{
        width: 55%!important;
        padding: 0!important;
    }
}

@media only screen and (max-width: 1028px){
    .top-banner{ height: 364px; }
}

@media only screen and (max-width: 900px){
    .row-video p{ font-size: 20px; }
}

@media only screen and (max-width: 767px){
    .container-fluid{ padding: 0 7.812%; }
    .simple-pager .pager-menu-item{ font-size: 16px; padding-right: 20px; }
    .arrow-left, .arrow-right{
        height: 16px;
        width: 16px;
        margin-bottom: -2px;
    }
    .back-on-top{ display: none!important; }
    .back-on-top-static{ display: block;}
    .video-container, .video-wrapper{ padding: 0; }
    .row-video p{ font-size: 32px; margin: 0 auto; width: 90%; text-align: center}
    .video-text { padding: 50px 0 12px 0; }
}


@media only screen and (max-width: 375px){
    .row-video p{ width: 84%; font-size: 16px; }
}


