.navbar.main-menu{
    background-color: #2e2e30;
    border-radius: 0;
    border: none;
    min-height: 100px;
    margin: 0;
}


.navbar-toggle{
    margin-top: 0px;
    margin-bottom: 0px;
}

.navbar-toggle .icon-bar{
    width: 28px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: 7px;
}

.main-menu .container-fluid{
    padding: 25px 4.125%;
}

.main-menu img{
    display: inline;
}

.main-menu a,  #main-nav .main-menu-phone{
    color: #ababac;
    font-size: 14px;
}

.logo{
    float: left;
    width: 158px;
    height: 35px;
    margin: 8px 0 7px 0;
    background-image: url("/img/logo.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.main-menu-phone{
    float: right;
}

.main-menu-phone, .navbar-nav{
    float: right;
}

#main-nav a, #main-nav .main-menu-phone{
    position: relative;
    display: block;
    padding: 15px 15px;
    line-height: 20px;
    font-weight: 600;
}

#main-nav a:hover{
    background: none;
    color: #e60f48;
}

#main-nav-compare , #main-nav-cart{
    float: right;
    text-decoration: none;
    height: 20px;
    width: 21px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 12px;
}

#main-nav-cart{
    background-image: url("/img/basket.svg");
}

#main-nav-compare{
    background-image: url("/img/compare_icon_large.svg");
}

#compare-count{
    margin-right: 25px;
}

.main-menu .counter{
    float: right;
    font-size: 12px;
    margin-top: 9px;
}

#cart-count{
    margin-left: 5px;
}

.navbar-header{
    float: none;
}

.navbar-header::after{
    clear: none;
}

@media only screen and (max-width: 900px){
    #main-nav .main-menu-phone{ display: none;}
    #main-nav{clear: both; margin-top: 75px; text-align: left}
    #main-nav .navbar-nav{ float: none; }
    #main-nav a{ font-size: 18px; }
    #main-nav-compare , #main-nav-cart{
        padding: 0;
        height: 33px;
        width: 34px;
        margin-top: 2px;
    }
    #cart-count{  margin-right: 40px; }
    #compare-count{ margin-right: 50px}
    .main-menu .counter{ font-size: 20px; margin-top: -3px; }
    .logo{
        float: left;
        width: 183px;
        height: 41px;
        margin: 5px 0 4px 0;
    }
}

@media only screen and (max-width: 768px){
    .main-menu .container-fluid{ padding: 25px 7.812%; }
}

@media only screen and (max-width: 435px){
    .navbar.main-menu {
        min-height: 80px;
    }

    .main-menu .container-fluid {
        padding: 15px 7.812%;
    }

    .navbar-toggle {
        margin-top: 5px;
    }

    .navbar-toggle .icon-bar {
        width: 24px;
        height: 3px;
        margin-bottom: 5px;
    }

    #cart-count, #compare-count {
        margin-top: 12px;
    }

    #cart-count {
        margin-left: 2px;
        margin-right: 10px;
    }

    #compare-count {
        margin-right: 20px;
    }

    .main-menu .counter {
        font-size: 12px;
    }

    #main-nav-compare, #main-nav-cart {
        height: 20px;
        width: 20px;
        margin-top: 15px;
    }

    .logo {
        width: 125px;
    }
}