.news-top-wrapper{
    padding: 0;
}


.news-top{
    background-image: url("/img/news-top-banner.jpg");
    position: relative;
}

.news-top-text{
    position: absolute;
    left: 54.7%;
    top: 50px;
}

.news-top-text p{
    margin-bottom: 50px;
}

.news-h2{
    margin-top: 20px;
    margin-bottom: 35px;
}

.news-h3{
    margin: 0 0 25px 0;
    line-height: inherit;
}



.news-wrapper{
    margin-left: -11px; margin-right: -11px;
}

.news-block{
    width: 72.75%;
    padding: 25px 0 20px 0;
    margin-right: auto;
    margin-left: auto;
}

.news-block .col-lg-4{
    padding-left: 11px;
    padding-right: 11px;
}

@media only screen and (max-width: 1028px){
    .news-block { width: inherit; }
}

.news-item{
    background-color: #fafafa;
    margin-bottom: 25px;
}

.news-item .news-img{
    background-position: top;
    padding: 0 0 61.2% 0;
}

.news-item .news-desc{
    padding: 35px 7% 45px 11%;
    font-weight: 500;
    text-transform: none;
    min-height: 171px;
}

@media only screen and (max-width: 1028px){
    .news-top{ background-image: url("/img/news-top-banner-tablet.jpg"); }
    .news-h2{ font-size: 26px; margin-bottom: 25px; }
    .news-top-text{ left: 50%; }
    .news-top-text p{ margin-bottom: 20px; }
}

@media only screen and (max-width: 767px){
    .news-item .news-desc{ padding: 35px 8.13% 45px 8.13%; font-size: 24px}
}

.news-date{
    color: #e21145;
    margin-bottom: 15px;
    font-weight: 500;
}


.news-footer{
    height: 325px;
    border-bottom: 1px solid #dadada;
    border-top: 1px solid #dadada;
    text-align: center;
    margin-bottom: 10px;
}

.news-footer-text{
    color: #2e2e30 !important;
}

.news-special{
    color: #fff;
    margin-bottom: 25px;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.news-special-text{
    padding: 50px 12% 45px 12%;
}

.news-special .news-special-btn{
    display: block;
    width: 205px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}

.btn-grey{
    background-color: rgba(233,233,233, 0.5) !important;
    color: #2e2e30 !important;
}

.btn-grey:hover{
    background-color: rgba(233,233,233, 0.8) !important;
}

.news-pager-wrapper{
    padding-top: 75px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 1540px){
    .news-h3{ font-size: 21px; }
}

@media only screen and (max-width: 1470px){
    .news-h3{ font-size: 20px; }
}

@media only screen and (max-width: 1403px){
    .news-h3{ font-size: 19px; }
}

@media only screen and (max-width: 1336px){
    .news-h3{ font-size: 18px; }
}

@media only screen and (max-width: 1270px){
    .news-h3{ font-size: 17px; }
}

@media only screen and (max-width: 1203px){
    .news-h3{ font-size: 16px; }
}

@media only screen and (max-width: 1176px){
    .news-h3{ display: none; }
}

@media only screen and (max-width: 1000px){
    .news-top-text{ left: 48% !important; }
}

@media only screen and (max-width: 950px){
    .news-top-text{ left: 46% !important; }
}

@media only screen and (max-width: 900px){
    .news-top-text{ left: 44% !important; }
}

@media only screen and (max-width: 850px){
    .news-top-text{ left: 42% !important; }
}

@media only screen and (max-width: 803px){
    .news-top-text{ left: 41% !important; }
}



@media only screen and (max-width: 767px){
    .news-item, .news-special {
        margin-bottom: 60px;
    }
    .news-date{ font-size: 18px; }
    .news-top-text{ position: static; margin-top: 40px; margin-bottom: 45px;}
    .news-top-text .news-h2{ font-size: 30px; margin-top: 40px; }
    .news-top-text p{ font-size: 24px; }
    .news-top-text .news-more{ display: none; }
    .news-special{
        padding-bottom: 100px;
        height: auto;
    }
    .news-special-text{
        padding: 95px 10% 0 10% !important;
        margin-bottom: 80px;
    }
    .news-special-text .news-h3{
        display: block;
        font-size: 38px;
        line-height: normal;
        margin-bottom: 65px;
    }
    .news-special-text p{ font-size: 24px; padding: 0 5%;}
    .btn{
        width: 330px !important;
        font-size: 20px !important;
        padding-top: 25px !important;
        padding-bottom: 25px !important;
        letter-spacing: 3px !important;
    }
    .news-footer {
        height: 495px !important;
        margin-bottom: 25px !important;
    }
    .news-footer .btn{ margin-top: 60px; }

}